.Content {
  position: absolute;
  top: var(--bar-size);
  left: var(--bar-size);
  right: var(--sidebar-small-width);
  bottom: var(--timeline-height);

  canvas {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
