<div class="Toolbar">
  <div class="tool">
    <mat-icon
      svgIcon="select-tool"
      aria-hidden="false"
      aria-label="Select tool"
    ></mat-icon>
  </div>
  <div class="tool">
    <mat-icon
      svgIcon="rectangle-tool"
      aria-hidden="false"
      aria-label="Rectangle tool"
    ></mat-icon>
  </div>
  <div class="tool">
    <mat-icon
      svgIcon="circle-tool"
      aria-hidden="false"
      aria-label="Circle tool"
    ></mat-icon>
  </div>
  <div class="tool">
    <mat-icon
      svgIcon="polygon-tool"
      aria-hidden="false"
      aria-label="Polygon tool"
    ></mat-icon>
  </div>
  <div class="tool">
    <mat-icon
      svgIcon="line-tool"
      aria-hidden="false"
      aria-label="Line tool"
    ></mat-icon>
  </div>
  <div class="tool">
    <mat-icon aria-hidden="false" aria-label="Pen tool">create</mat-icon>
  </div>
  <div class="tool text-tool">
    <mat-icon aria-hidden="false" aria-label="Text tool">text_format</mat-icon>
  </div>
</div>
