@import "src/styles/index";

.Timeline {
  position: absolute;
  left: var(--bar-size);
  bottom: 0;
  width: calc(100% - var(--bar-size));
  height: var(--timeline-height);
  box-shadow: var(--shadow);
  z-index: $z-index-timeline;
  background-color: white;
}
